{% extends 'cours-python.twig.html' %}

{% block cours %}
<div class="cours">
    <h2> Garder le contact ! </h2>
    <img src="ressources/python-dictionnaires/assets/img/friends-large.jpg"
    class="img-fluid border rounded"
        alt="Les amis !">
    <p class="text-end fst-italic fw-lighter">
        Photo by 
        <a href="https://unsplash.com/@kimsondoan?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kimson Doan</a> on 
        <a href="https://unsplash.com/s/photos/friends?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </p>
    <p>
        La soirée approche de sa fin. C'est la dernière fois que vous voyez certains d'entre vous avant un très long moment.
        Vous ne voulez pas perdre le contact. Vous décidez donc de conserver un certain nombre d'information pour chaque 
        participant :
    </p>
    <ul>
        <li>Le nom de famille</li>
        <li>le prénom</li>
        <li>le numéro de téléphone mobile</li>
        <li>l'adresse de courrier électronique</li>
        <li>le pseudo sur instagram</li>
        <li>l'adresse postale 
            (vous vous êtes promis de vous envoyer des cartes postales,
             avec un défi sur la plus belle et la plus originale)</li>
    </ul>
    <p>
        Ça commence à faire pas mal d'information. Bien sur, comme vous êtes le plus doué pour programmer, tout le monde
        s'attend à ce que vous fassiez ça en deux temps trois mouvement pour que le carnet d'adresse puisse être transmis 
        aux uns et aux autres.
    </p>
    <p>
        L'idée de faire une liste pour chaque élément semble ne pas être une bonne idée. Là, ça va déjà faire 6
        listes différentes. Et si on rajoute des éléments ? Et si certains éléments sont optionnels ? On risque d'oublier 
        par exemple que Maxence n'a pas de compte Instagram, et si ça n'est pas bien codé, 
        on risque de tout décaler après Maxence !
    </p>
    <p>
        Bref, il faut trouver une autre solution.
    </p>
    <h3> Les dictionnaires : un autre type construit</h3>
    <p>
        Pour garder ensemble des informations, au dela des tableaux, il y a un autre type construit : le dictionnaire.
        Là ou le tableau range les données de façon ordonnée et les numérote, le dictionnaire lui les étiquette avec
        des étiquettes qui ont une signification.
    </p>
    <p>
        Un tableau fonctionne en associant à chaque case numérotée un contenu comme dans l'exemple ci dessous
    </p>
    <div class="d-flex">
        <figure class="figure mx-auto">
            <img class="figure-img img-fluid img-rounded img-thumbnail"
                src="ressources/python-dictionnaires/assets/img/tableau.png">
            <figcaption class="figure-caption text-center"> Une structure de tableau </figcaption>
        </figure>
    </div>
    <p>
        Un dictionnaire lui va associer fonctionner avec des paires clefs/valeurs. On associe à une clef (et non pas 
        à un numéro de case) une valeur. Imaginez par exemple que l'on souhaite caractériser dans un magasin 
        de vétement les pantalons en vente. On pourrait avoir le dictionnaire représenté ci dessous :
    </p>
    <div class="d-flex">
        <figure class="figure mx-auto">
            <img class="figure-img img-fluid img-rounded img-thumbnail"
                src="ressources/python-dictionnaires/assets/img/dictionnaire.png">
            <figcaption class="figure-caption text-center"> Une structure de dictionnaire </figcaption>
        </figure>
    </div>
    <h3>Les dictionnaires en Python</h3>
    <h4>Création d'un dictionnaire</h4>
    <p>
        En Python, un dictionnaire peut être créé avec son contenu directement. Par exemple, le code suivant 
        pourrait être le début de votre annuaire. Notez que pour afficher le contenu 
        d'un dictionnaire, vous pouvez utiliser la fonction <code>print</code>
    </p>
    <pre><code class="python">mon_dico = {"nom": "Durand", "prenom": "Christophe", "date de naissance": "29/02/1981"}</code></pre>
    <div class="essais">
        <button type="button" data-has-blockly="false" data-has-graphics="false"
            data-python-id="dico1"
            data-python-url="ressources/python-dictionnaires/assets/python/dico1.py"
            class="btn btn-success btn-python">
            Essayer le programme
        </button>
    </div>
    <p>
        Il existe une autre possibilité. Vous pouvez aussi créer un dictionnaire vide en ne mettant rien entre les deux accolades.
        Ensuite, vous pouvez ajouter très simplement des éléments aux dictionnaire : il vous suffit de préciser le couple clef 
        valeur en utilisant la même notation que dans un tableau, comme dans le code ci-dessous
    </p>
    <pre><code class="python">mon_dico = {}
mon_dico["nom"] = "Durand"
mon_dico["prenom"] = "Christophe"
mon_dico["date de naissance"] = "29/02/1981"</code></pre>
    <div class="essais">
        <button type="button" data-has-blockly="false" data-has-graphics="false"
            data-python-id="dico2"
            data-python-url="ressources/python-dictionnaires/assets/python/dico2.py"
            class="btn btn-success btn-python">
            Essayer le programme
        </button>
    </div>
    <h4>Accéder aux éléments d'un dictionnaire</h4>
    <p>
        Vous pouvez accéder aux éléments d'un dictionnaire de la même façon que vous accéder aux éléments d'un tableau.
        Il suffit d'indiquer la valeur de la clef entre les crochets, comme dans l'exemple ci dessous :
    </p>
    <pre><code class="python">mon_dico = {"nom": "Durand", "prenom": "Christophe", "date de naissance": "29/02/1981"}
var_nom = mon_dico["nom"]
var_prenom = mon_dico["prenom"]
var_naissance = mon_dico["date de naissance"]
print('Bonjour je suis', var_prenom, var_nom,', je suis né le', var_naissance)</code></pre>
    <div class="todo">
        <h6>À faire vous même</h6>
        <p> À votre avis, que va afficher le code ci dessus ? Vérifiez votre réponse.</p>
        <div class="essais">
            <button type="button" data-has-blockly="false" data-has-graphics="false"
                data-python-id="dico3"
                data-python-url="ressources/python-dictionnaires/assets/python/dico3.py"
                class="btn btn-success btn-python">
                Vérifier votre réponse
            </button>
        </div>
    </div>
    <h4>Modifier les éléments du dictionnaire</h4>
    <p>
        Lorsque l'on affecte une valeur à la clef d'un dictionnaire, si cette clef n'existe pas, le couple clef/valeur
        est créé, mais si la clef existe, le couple clef/valeur est modifié. Imaginez un dictionnaire qui contient
        le nombre de cageots de fruits disponible dans un magasin de produits frais. Si l'on vend une cagette de pommes,
        on peut représenter ainsi l'opération :
    </p>
    <pre><code class='python'>mes_fruits = {"poire": 3, "pomme": 4, "orange": 2}
mes_fruits["pomme"] = mes_fruits["pomme"] - 1</code></pre>
    <div class="todo">
        <h6>À faire vous même</h6>
        <p> À votre avis, que contiendra le dictionnaire à chaque étape du code ci dessus ? Vérifiez votre réponse.</p>
        <div class="essais">
            <button type="button" data-has-blockly="false" data-has-graphics="false"
                data-python-id="dico4"
                data-python-url="ressources/python-dictionnaires/assets/python/dico4.py"
                class="btn btn-success btn-python">
                Vérifier votre réponse
            </button>
        </div>
    </div>
    <div class="todo">
        <h6>À faire vous même</h6>
        <p> On a fait une erreur dans l'enregistrement de Christophe Durand .... le 29 février 1981 n'existe pas, 
            ce n'est pas une année bisextile ! Modifiez l'enregistrement du dictionnaire pour indiquer
            que ça date de naissance est le 29 mars 1981. Attention ! on ne modifie pas la définition du dictionnaire,
            on modifie le contenu du dictionnaire à postériori
        </p>
        <div class="essais">
            <button type="button" data-has-blockly="false" data-has-graphics="false"
                data-python-id="dico5"
                data-python-url="ressources/python-dictionnaires/assets/python/dico5.py"
                class="btn btn-success btn-python">
                Modifier le code
            </button>
        </div>
    </div>
    <h4>Supprimer les éléments d'un dictionnaire</h4>
    <p>
        On peut aussi assez facilement supprimer un couple clef/valeur d'un dictionnaire. Imaginons que dans 
        notre magasin de fruit, après avoir fait l'inventaire, on se rend compte que les poires sont
        abimées (c'est fragile les poires) et qu'il faut les supprimer de l'inventaire.
        Pour cela, il suffit d'utiliser l'instruction
        <code> del </code> comme dans cet exemple :
    </p>
    <pre><code class="python">mes_fruits = {"poire": 3, "pomme": 4, "orange": 2}
del mes_fruits['poire']</code></pre>
    <div class="todo">
        <h6>À faire vous même</h6>
        <p> À votre avis, que contient le dictionnaire après l'éxécution du code ci dessus ? 
            Vérifiez votre réponse.
        </p>
        <div class="essais">
            <button type="button" data-has-blockly="false" data-has-graphics="false"
                data-python-id="dico6"
                data-python-url="ressources/python-dictionnaires/assets/python/dico6.py"
                class="btn btn-success btn-python">
                Vérifier le code
            </button>
        </div>
    </div>
    <p>
        <em>Remarque : on aurait aussi pu mettre la quantité de poires à 0.</em>
    </p>
    <h4>Parcourir un dictionnaire</h4>
    <p>
        Enfin, lorsque l'on a un dictionnaire, en dehors de l'accès à certains éléments, on peut vouloir 
        afficher la totalité des éléments d'un dictionnaire, ou les modifier. Pour cela, il va falloir 
        parcourir le dictionnaire, de la même façon que l'on a parcouru le tableau.
    </p>
    <p>
        Pour cela, il y a trois possibilités, qui utilisent toute la boucle for :
    </p>
    <ul>
        <li>On peut parcourir le dictionnaire en utilisant les clefs. C'est la méthode la plus courante</li>
        <li>On peut s'intéresser au valeurs uniquement</li>
        <li>On peut aussi vouloir utiliser le couple clef/valeur pour chaque élément du dictionnaire</li>
    </ul>
    <h5> Parcours avec les clefs </h5>
    <p>
        Reprenons notre dictionnaire du début, sans l'erreur 
    </p>
    <pre><code class="python">mon_dico = {"nom": "Durand", "prenom": "Christophe", "date de naissance": "29/03/1981"}</code></pre>
    <p> Si l'on souhaite parcourir les clefs du dictionnaire, on peut y accéder grâce à la méthode <code>keys</code>
        qui va retourner un itérateur sur l'ensemble des clefs
    </p>
    <pre><code class="python">for clef in mon_dico.keys():
    print("la clef", clef, "du dictionnaire correspond à la valeur :",mon_dico[clef])</code></pre>
    <div class="todo">
        <h6>À faire vous même</h6>
        <p> À votre avis, que va produire l'éxécution du code ci dessus ? 
            Vérifiez votre réponse.
        </p>
        <div class="essais">
            <button type="button" data-has-blockly="false" data-has-graphics="false"
                data-python-id="dico7"
                data-python-url="ressources/python-dictionnaires/assets/python/dico7.py"
                class="btn btn-success btn-python">
                Vérifier le code
            </button>
        </div>
    </div>
    <p>
        En fait, cette façon de parcourir un dictionnaire est tellement courante qu'il en existe une version abrégée :
    </p>
    <pre><code class="python">for clef in mon_dico:
    print("la clef", clef, "du dictionnaire correspond à la valeur :",mon_dico[clef])</code></pre>
    <h5> Parcours suivant les valeurs </h5>
    <p>
        La méthode <code>values</code> permet elle d'obtenir un itérateur sur les variables. Reprenons notre dictionnaire
        sur les fruits du primeur, et calculons le nombre total de cagettes :
    </p>
    <pre><code class="python">mes_fruits = {"poire": 3, "pomme": 4, "orange": 2}
nb_cagettes = 0
for nb in mes_fruits.values():
    nb_cagettes += nb

print(nb_cagettes)</code></pre>
    <div class="todo">
        <h6>À faire vous même</h6>
        <p> À votre avis, que va produire l'éxécution du code ci dessus ? 
            Vérifiez votre réponse.
        </p>
        <div class="essais">
            <button type="button" data-has-blockly="false" data-has-graphics="false"
                data-python-id="dico8"
                data-python-url="ressources/python-dictionnaires/assets/python/dico8.py"
                class="btn btn-success btn-python">
                Vérifier le code
            </button>
        </div>
    </div>
    <h5> Parcours par clef et valeur </h5>
    <p>
        Enfin, il est possible de parcourir un dictionnaire en utilisant à la fois les clefs et les valeurs
        grâce à la méthode <code>items</code> :
    </p>
    <pre><code class="python">mes_fruits = {"poire": 3, "pomme": 4, "orange": 2}
print ("Stock de fruits :")
for fruit, quantite in mes_fruits.items():
    print (f"{fruit} : {quantite}")</code></pre>
    <div class="todo">
        <h6>À faire vous même</h6>
        <p> À votre avis, que va produire l'éxécution du code ci dessus ? 
            Vérifiez votre réponse.
        </p>
        <div class="essais">
            <button type="button" data-has-blockly="false" data-has-graphics="false"
                data-python-id="dico9"
                data-python-url="ressources/python-dictionnaires/assets/python/dico9.py"
                class="btn btn-success btn-python">
                Vérifier le code
            </button>
        </div>
    </div>
    <h3> En résumé ...</h3>
    <p>
        Relisez les paragraphes ci dessus et faites une fiche de résumé qui montre un programme qui fait toutes les actions suivantes :
    </p>
    <div class="retenir">
        <h6>À retenir</h6>
        <ul>
            <li>Création d'un dictionnaire pré-rempli</li>
            <li>Création d'un dictionnaire vide</li>
            <li>Ajout d'un couple clef/valeur</li>
            <li>Accès à un élément du dictionnaire</li>
            <li>Modification d'un élément du dictionnaire</li>
            <li>suppression d'un élément du dictionnaire</li>
            <li>les 3 parcours d'un dictionnaire avec <code>keys()</code>,
                <code>values()</code>,<code>items()</code></li>

        </ul>
    </div>
    <h3> Mini projet d'annuaire de contacts </h3>
    <p>
        Nous allons maintenant passer à l'application qui nous intéresse. Un carnet d'adresse.
        Vous allez créer une liste de contact. Chaque contact est un dictionnaire qui contient les éléments
        suivants :
    </p>
    <ul>
        <li>Le nom de famille</li>
        <li>le prénom</li>
        <li>le numéro de téléphone mobile</li>
        <li>l'adresse de courrier électronique</li>
        <li>le pseudo sur instagram</li>
        <li>le pseudo sur snapchat</li>
        <li>l'adresse postale 
            (vous vous êtes promis de vous envoyer des cartes postales,
             avec un défi sur la plus belle et la plus originale)</li>
        <li>le surnom</li>
    </ul>
    <p>
        Vous allez :
    </p>
    <ul>
        <li>Créer un premier contact qui a vos coordonnées</li>
        <li>Créer une fonction qui permet d'afficher les contact</li>
        <li>Créer une fonction qui permet de supprimer un contact</li>
        <li>Créer une fonction pour afficher un contact (à partir de son numéro)</li>
    </ul>
    <p>
        Pour cela, vous aurez à disposition le squelette du programme à compléter
    </p>

    <div class="essais">
        <button type="button" data-has-blockly="false" data-has-graphics="false"
            data-python-id="addressbook"
            data-python-url="ressources/python-dictionnaires/assets/python/addressbook.py"
            class="btn btn-success btn-python">
            Compléter le programme
        </button>
    </div>

</div>
{% endblock %}