{% extends 'cours-python.twig.html' %}

{% block cours %}
<div class="cours">
    <h2> Les fichiers CSV</h2>
    <img src="ressources/python-dictionnaires/assets/img/containers.jpg"
    class="img-fluid border rounded"
        alt="Les amis !">
    <p class="text-end fst-italic fw-lighter">
        Photo by 
        <a href="https://unsplash.com/@live_for_photo">Teng Yuhong</a> on 
        <a href="https://unsplash.com/">Unsplash</a>
    </p>
    
    <p>
        Pour pouvoir lire et écrire des données de façon aisée, il est nécessaire de se mettre d'accord
        sur un standard. L'une des façon les plus courantes pour stocker des données destinées 
        à être utilisées de façon informatisée mais qui restent lisibles par un être humain est d'utiliser 
        les fichiers CSV (Comma Separated Values, valeurs séparées par des virgules en français). 
    </p>

    <h3> Les fichiers CSV </h3>

    <p> 
        Dans la vidéo ci dessous, Ceédric GERLAND explique en détail ce que sont les fichiers CSV et il
        revient aussi sur le chapitre précédent sur l'ouverture des fichiers. Il évoque aussi 
        la gestion des erreurs avec le système des exceptions. Visionnez cette vidéo en prenant
        des notes et en utilisant éventuellement un IDE pour taper le code.
    </p>

    <div class="row">
        <!-- Button trigger modal -->
        <div class="col-12 col-lg-6 mb-3 mx-auto">
            <div class="youtube text-center" data-video-id="MoReNpix46Q"
                data-bs-target="#videoModal" data-bs-toggle="modal"
                data-video-title="Les fichiers CSV - Cédric GERLAND"> </div>
        </div>
    </div>

    <h3> En résumé </h3>

    <div class="retenir">
        <h6>À retenir</h6>
        <p>
            Résumez le contenu de la vidéo à partir de vos notes et en vous posant les questions ci dessous.
        </p>
        <ul>
            <li> Que signifie CSV ?</li>
            <li> En dehors des langages informatiques, quels logiciels permettent de lire et écrire facileemnt des CSV</li>
            <li> Le séparateur est il nécessairement une virgule ? Si non, que peut il être aussi ?</li>
            <li> Que sont les descripteurs d'un fichier CSV ? </li>
            <li> Qu'est ce que signifie les mots clefs <code>try</code>et <code>except</code> dans le langage Python ?</li>
            <li> À quel endroit sur internet trouve t'on des fichiers CSV en France, en grande quantité ?</li>
        </ul>
    </div>

    <h3> Utilisation de Python pour lire et écrire les fichiers CSV </h3>

    <div class="row">
        <!-- Button trigger modal -->
        <div class="col-12 col-lg-6 mb-3 mx-auto">
            <div class="youtube text-center" data-video-id="hzKb64qIPdg"
                data-bs-target="#videoModal" data-bs-toggle="modal"
                data-video-title="Les fichiers CSV - seconde partie - Cédric GERLAND"> </div>
        </div>
    </div>

    <h3> En résumé </h3>

    <div class="retenir">
        <h6>À retenir</h6>
        <p>
            Résumez le contenu de la vidéo à partir de vos notes et en vous posant les questions suivantes :
        </p>
        <ul>
            <li> Pour enregistrer un fichier CSV, que faut il écrire dans le fichier en premier ?</li>
            <li> Quelle structure de données est bien adaptée pour stocker les données dans fichier CSV ?</li>
            <li> Dans le code, les chaines de caractère sont formatés grâce à la fonction format. Quel syntaxe a t'on vu pour 
                le même usage lors des chapitres précédents ?
            </li>
            <li>
                Pour enlever le carcatère de fin de ligne, qu'est ce que le slicing que l'on voit dans la vidéo ? Qu'utilisait on
                dans les chapitres précédents ?
            </li>
            <li> À quoi sert la fonction split ?</li>
            <li> Dans quelle structure de données informatique va t'on stocker le contenu du fichier CSV ?</li>
        </ul>
    </div>

    <h3> Mini projet d'annuaire de contacts </h3>

    <p>
        Nous allons pouvoir finaliser notre application d'annuaire. 
        Pour cela, vous partirez du fichier de l'application précédente, et vous modifierez la fonction de sauvegarde pour
        qu'elle écrire non plus des données "à notre sauce" mais des données CSV.
    </p>
    <p>
        Par ailleurs, vous écrirez une fonction qui permet de lire un fichier CSV pour peupler la liste de dictionnaires
        dans la mémoire de l'ordinateur lorsque nous éxécutons notre programme.
    </p>
    <p>
        De cette façon, notre application sera finie : on pourra gérer les contacts (les créer, les lire, les supprimer, les 
        sauvegarder et les charger)
    </p>
    <p>
        Vous pouvez vous servir du squelette ci dessous que vous fusionnerez, le cas échéant, avec vos productions précédentes.
    </p>
    <div class="essais">
        <button type="button" data-has-blockly="false" data-has-graphics="false"
            data-python-id="addressbook_final"
            data-python-url="ressources/python-dictionnaires/assets/python/addressbook_final.py"
            class="btn btn-success btn-python">
            Compléter le code
        </button>
    </div>
</div>
{% endblock %}