{% extends 'cours-python.twig.html' %}

{% block cours %}
<div class="cours">
    <h2> Garder la mémoire </h2>
    <img src="ressources/python-dictionnaires/assets/img/ram-large.jpg"
    class="img-fluid border rounded"
        alt="Les amis !">
    <p class="text-end fst-italic fw-lighter">
        Image par 
        <a 
        href="https://pixabay.com/fr/users/tobiasd-206193">Tobias Dahlberg</a> 
        de 
        <a 
        href="https://pixabay.com/fr/">Pixabay</a>
    </p>
    <p>
        Vous avez réussi à faire une liste de dictionnaires pour conserver le contact. 
        Même si votre programme est très satisfaisant, il possède un défaut majeur.
        Quand vous quittez le programme, l'ensemble de vos contacts disparait avec
        la mémoire du programme. Les données étaient stockées dans la RAM de l'ordinateur
        et à la fin de l'exécution du programme, cet espace est libéré. 
    </p>
    <p>
        Quand bien même vous pourriez garder le programme en fonctionnement, il faudra bien 
        un jour éteindre l'ordinateur
    </p>
    <p>
        Il faut faire passer ces données de la RAM,qui est une mémoire volatile, vers une 
        mémoire à plus long terme. Le système de fichier du disque dur est tout à fait adapté 
        pour cela.
    </p>
    <h3> Mécanisme de base pour écrire dans des fichiers</h3>
    <p>
        Python fournit un mécanisme de base d'entrée sortie pour accéder aux fichiers. 
        Nous allons voir quelques fonctions simples, avec leurs paramètres qui nous permettront 
        de lire et d'écrire dans un fichier
    </p>
    <h4> L'ouverture du fichier </h4>
    <p>
        La première chose à faire est d'ouvrir le fichier auquel on veut accéder. Cette ouverture se
        fait simplement grâce à la fonction <code>open</code> qui prend deux paramètres
    </p>
    <pre><code class="python">fichier = open(filename,mode)</code></pre>
    <p>
        Le premier paramétre est le nom du fichier que l'on veut ouvrir. Le second paramètre est le mode
        d'ouverture. En effet, on peut ouvrir le fichier de différente façon
    </p>
    <table class="table table-striped">
        <thead>
            <tr class="table-info">
                <th colspan="2" scope="col">Mode</th>
                <th scope="col">Signification</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="4"> type d'ouverture </td>
                <td>'r'</td>
                <td> (abbréviation de <em>read</em>) Ouverture du fichier en lecture. On ne peut que le lire, pas écrire dedans. 
                    C'est le mode par défaut si le paramètre de mode n'est pas précisé</td>
            </tr>
            <tr>
                <td>'w'</td>
                <td>(abbréviation de <em>write</em>). Si le fichier n'existe pas, il est créé. Sinon, il est ouvert en écriture
                    et son contenu actuel est supprimé.
                </td>
            </tr>
            <tr>
                <td>'a'</td>
                <td>(abbréviation de <em>append</em>). Ouvre le fichier en écriture, comme le mode 'w', mais au lieu de supprimer
                    le contenu existant, le nouveau contenu sera ajouté à la fin du contenu existant</td>
            </tr>
            <tr>
                <td>'x'</td>
                <td>(abbréviation de <em>exclusive</em>. Fonctionne comme 'w' mais en mode de création exclusive. Ce
                    mode provoquera une erreur si le fichier existe déjà.  </td>
            </tr>
            <tr>
                <td rowspan='2'>type de fichier</td>
                <td>'t'</td>
                <td> Fichier de type texte. C'est le mode par défaut si rien n'est indiqué. </td>
            </tr>
            <tr>
                <td>'b'</td>
                <td> Fichier binaire, c'est à dire qui peut contenir des données arbitraires (des images, du son, etc).
                    Les données sont considéres comme des bytes, sans décodage.
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        si par exemple on veut ouvrir en écriture un carnet d'adresse pour l'enregistrer, que le nom du fichier est 
        <code> contacts.txt </code>, la commande a éxécuter sera la suivante :
    </p>
    <pre><code class="python">fichier = open("contacts.txt",'wt')</code></pre>
    <p>
        Si après on veut relire le fichier pour importer son contenu, il suffira d'utiliser :
    </p>
    <pre><code class="python">fichier = open("contacts.txt")</code></pre>
    <p>
        Comme on a pas indiqué de mode, on a le mode par défaut, c'est à dire <code>'rt'</code> (lecture d'un fichier texte).
    </p>
    <div class="todo">
        <h6> À faire vous même </h6>
        <ol>
            <li> On a un fichier où l'on consigne des informations journalisées (des logs), c'est
                à dire des évènements qui arrivent dans un programme (par exemple telle personne a accédé à
                telle ressource, telle personne s'est identifiée..). On veut ouvrir le fichier 
                <code>prog.log</code> pour rajouter des lignes de texte d'information dedans. Quelle 
                commande doit on utiliser ?
            </li>
            <li>
                On veut ouvrir un fichier d'image pour le transformer. Quelle commande permet
                d'ouvrir le fichier <code>perroquet.jpg</code> pour le lire ?
            </li>
        </ol>
        <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#exercice1">
            <i class="bi bi-bullseye"></i> Afficher la Correction
        </button>
        <div class="correction collapse" id="exercice1">
            <ol>
                <li> On en doit pas supprimer les anciens logs mais en ajouter de nouveau. On doit donc
                    ouvrir en mode <code>append</code>. C'est du texte qui est utilisé. On peut mettre le
                    <code>t</code> ou pas (puisque c'est le paramètre par défaut)
                    <pre><code class='python'>fichier = open("prog.log",'a')</code></pre>
                </li>
                <li>
                    Une image est un fichier binaire. On veut la lire. Le mode sera donc <code>'rb'</code>
                    <pre><code class='python'>fichier = open("perroquet.jpg",'rb')</code></pre>
                </li>
            </ol>
        </div>
        <p></p>
    </div>
    <h4>Fermeture du fichier </h4>
    <p>
        La fonction <code>open</code> renvoie un objet de type fichier. On sauvegarde cet objet dans la variable 
        <code>fichier</code> (qui pourrait avoir n'importe quel nom). Lorsque le fichier est ouvert, il ne va pas 
        être accessible pour d'autres programmes. C'est pour cela que dès que l'on a fini d'utiliser le fichier, il
        faut bien penser à le ferme, grâce à la méthode <code>close</code>
    </p>
    <pre><code class="python">fichier.close()</code></pre>
    <h4> Écriture dans le fichier </h4>
    <p>
        Pour écrire dans le fichier, on utilise la méthode <code>write</code> surl'objet fichier. Pour tous le reste de 
        ce document, on considérera que l'on est en mode texte. Pour écrire du texte, on va utiliser 
    </p>
    <pre><code class="python">fichier.write("Ce texte est écrit dans le fichier")</code></pre>
    <p> 
        La fonction <code>write</code> va écrire les données les unes à la suite des autres. Si on veut 
        aller à la ligne dans le fichier, il faut penser à rajouter le caractère de fin de ligne (<code>\n</code>)
        dans la chaine de caractère que l'on veut utiliser. On va utiliser le programme suivant pour écrire le
        début de notre fichier
    </p>
    <pre><code class="python">fruits = ['orange','ananas','kiwi','abricot']
fichier = open("fruits.txt",'w')
for fruit in fruits:
    fichier.write(fruit+'\n')
fichier.close()
print("Le fichier est enregistré")</code></pre>
    <div class="todo">
        <h6>À faire vous même</h6>
        <p> Vous allez utiliser le code ci dessus pour 
            créer un fichier contenant votre liste de fruits. Vous téléchargerez votre fichier
            etvous vérifirez son contenu dans un éditeur de texte quelconque.
        </p>
        <div class="essais">
            <button type="button" data-has-blockly="false" data-has-graphics="false"
                data-python-id="fichier1"
                data-python-url="ressources/python-dictionnaires/assets/python/fichier1.py"
                class="btn btn-success btn-python">
                Essayer le programme
            </button>
        </div>
    </div>

    <h4> Lire dans le fichier </h4>

    <p>
        Il y a trois façons de lire dans un fichier. Chacune correspond à un usage différent.
    </p>
    <p>
        La méthode <code>read </code> : cette méthode lit la totalité du fichier d'un seul coup
        et va renvoyer l'ensemble sous forme d'une unique chaine texte.
    </p>
            <pre><code class="python">fichier = open("fruits.txt")
contenu = fichier.read()
# la variable contenu vaut pour notre exemple "orange\nananas\nkiwi\nabricot\n"
fichier.close()
print(contenu)</code></pre>
    <div class="essais">
        <button type="button" data-has-blockly="false" data-has-graphics="false"
            data-python-id="fichier2"
            data-python-url="ressources/python-dictionnaires/assets/python/fichier2.py"
            class="btn btn-success btn-python">
            Essayer le code ci dessus
        </button>
    </div>
    <p>
        La méthode <code>readlines</code> : cette méthode var lire elle aussi la totalité du 
        fichier, mais elle va renvoyer le résultat sous forme d'un tableau, chaque case du tableau
        contenant une ligne du fichier. On peut donc après effectuer une boucle for sur le tableau 
        qui agira sur chaque ligne du fichier.
    </p>
            <pre><code class="python">fichier = open("fruits.txt")
lignes = fichier.readlines()
# la variable lignes vaut pour notre exemple ['orange\n','ananas\n','kiwi\n','abricot\n']
fichier.close()
for element in lignes:
    element = element.rstrip("\n") #on enlève le saut de ligne à la fin
    if element =="kiwi":
        print("j'adore le kiwi")
    else:
        print(f"J'aime bien l'{element} mais je préfère le kiwi !")</code></pre>
    <div class="essais">
        <button type="button" data-has-blockly="false" data-has-graphics="false"
            data-python-id="fichier3"
            data-python-url="ressources/python-dictionnaires/assets/python/fichier3.py"
            class="btn btn-success btn-python">
            Essayer le code ci dessus
        </button>
    </div>
    <p>  La dernière méthode est <code>readline</code> (sans le s). Cette méthode est surtout 
        utilisée lorsque le fichier est un fichier de grande taille et que l'on ne veut pas charger 
        l'intégralité d'un fichier en mémoire d'un seul coup. Par exemple, les journaux qui représentent
        les accès à un serveur web peuvent facilement représenter plusieurs Go de données. Charger 
        le fichier en mémoire d'un seul coup prendrait plusieurs Go d'espace dans la mémoire vive, ce qui
        n'est pas souhaitable. On utilise la méthode <code>readline</code> au sein d'une boucle <code>while</code>.
        En effet, à la fin du fichier, <code>readline</code> renvoie une chaine vide (alors qu'une ligne vide
        renvoie "\n")
    </p>
            <pre><code class="python">fichier = open("fruits.txt")
# on lit ligne par ligne
ligne = fichier.readline()
while ligne !="":
    ligne = ligne.rstrip("\n") # on enlève le saut de ligne à la fin
    if ligne =="kiwi":
        print("j'adore le kiwi")
    else:
        print(f"J'aime bien l'{ligne} mais je préfère le kiwi !")
    ligne = fichier.readline() # lecture de la ligne suivante
# on ne ferme qu'après avoir tout lu
fichier.close()</code></pre>
        
    <div class="essais">
        <button type="button" data-has-blockly="false" data-has-graphics="false"
            data-python-id="fichier4"
            data-python-url="ressources/python-dictionnaires/assets/python/fichier4.py"
            class="btn btn-success btn-python">
            Essayer le code ci dessus
        </button>
    </div>

    <h3> Lire et écrire en utilisant <b>with</b></h3>
    <p>
        Le langage Python permet d'utiliser, pour accéder aux fichiers, un élément syntaxique qui encadre 
        ce que l'on fait sur le fichier et se chargera de le ferme à la fin, même s'il y a un problème :
        <code>with</code>.
    </p>
    <p>
        l'expression <code>with</code> encadre un bloc qui contient tout ce qui sera fait sur la fonction. Nos 
        exemples deviennent plus simples pour lire et écrire, et plus sécurisés
    </p>
    <h4> Écriture du fichier </h4>
    <pre><code class="python">fruits = ['orange','ananas','kiwi','abricot']
with open("fruits.txt",'w') as fichier :
    for fruit in fruits:
        fichier.write(fruit+'\n')

print("Le fichier est enregistré")</code></pre>
    <p> 
        On voit que l'on a pas eu à gérer la fermeture du fichier.
    </p>
    <h4> Lecture du fichier</h4>
    <p>
        On peut bien entendu utiliser la même syntaxe pour 
        accéder aux fichiers avec <code>with</code> afin de les lire 
        (avec <code>read</code> et <code>readlines</code>) en une fois.
    </p>
    <p>
        Très souvent, on préfère lire les fichiers ligne par ligne, cela fonctionnant
        aussi avec les gros fichiers. On peut alors utiliser une boucle <code>for</code>
        ce qui allégera la syntaxe. En utilisant
    </p>
    <pre><code class="python">for ligne in fichier:</code></pre>
    <p>
        On aura accés à chaque ligne du fichier successivement
    </p>    
    <p>
        Le dernier exemple ci dessous va d'abord ouvrir le fichier
        pour écrire dedans, le fermer, puis l'ouvrir en lecture pour le lire ligne à ligne
    </p>
    <pre><code class="python">fruits = ['orange','ananas','kiwi','abricot']
with open("fruits.txt",'w') as fichier :
    for fruit in fruits:
        fichier.write(fruit+'\n')

print("Le fichier est enregistré")

with open("fruits.txt") as fichier:
    for ligne in fichier:
        ligne = ligne.rstrip("\n")
        print(f" nouveau fruit: {ligne}")

print("le fichier a été lu et affiché")</code></pre>
    <div class="essais">
        <button type="button" data-has-blockly="false" data-has-graphics="false"
            data-python-id="fichier5"
            data-python-url="ressources/python-dictionnaires/assets/python/fichier5.py"
            class="btn btn-success btn-python">
            Essayer le code ci dessus
        </button>
    </div>

    <h3> En résumé ...</h3>
    <p>
        Relisez les paragraphes ci dessus et faites une fiche de résumé qui montre un programme qui fait toutes les actions suivantes :
    </p>
    <div class="retenir">
        <h6>À retenir</h6>
        <ul>
           <li>Ouverture d'un fichier</li>
           <li>Indiquer les différents modes d'ouverture</li>
           <li>Écriture dans un fichier</li>
           <li>Lecture dans un fichier (read,readlines et readline)</li>
           <li>Utilisation de with</li>
        </ul>
    </div>

    <h3> Mini projet d'annuaire de contacts </h3>
    <p>
        Maintenant que nous savons écrire dans un fichier, nous allons pouvoir créer notre fichier
        de contact. Ce qui est dans la mémoire de l'ordinateur pourra être sauvegardé. Ainsi, 
        lorsque l'on quitte l'application, on ne perdra plus l'ensemble de nos données.
    </p>
    <p>
        Vous allez compléter le fichier qui est donné ci après. Vous avez 
        juste 5 fonctions à compléter. Le fonctionnement en est simple :
    </p>
    <ul>
        <li> Une fonction sert pour ajouter un contact. Elle demande à l'utilisateur toutes les informations 
            (nom, prénom, adresse mail, téléphone, adresse postale, compte instagram, compte snapchat, surnom) 
            et renvoi toutes ces informations sous forme d'un dictionnaire (qui pourra être ajouté à la liste
            des contacts)
        </li>
        <li> Une fonction affiche tous les contacts. Elle affiche leur numéro dans la liste 
            et peut être une partie seulement des informations (par exemple nom, prénom et téléphone)</li>
        <li>
            Une fonction permet de visualiser le détail d'un contact
        </li>
        <li>
            Une fonction permet de supprimer un contact
        </li>
        <li>
            Enfin, une fonction permet de sauvegarder l'ensemble du carnet d'adresse. Voici le fonctionnement attendu :
            <ol>
                <li> pour chaque contact, elle commence par indiquer le numéro du contact encadré par des tirets
                    (par exemple : <code>----- contact n° 17 -----</code>)
                </li>
                <li>
                    Pour chaque entrée du dictionnaire correspondant au contact,
                    elle ajoute une ligne dans le fichier avec la clef suivie de 
                    : et de la valeur associée (par exemple <code>nom : Durand</code>)
                </li>
            </ol>   
        </li>
    </ul>
    <p>
        Tant que le programme tourne, il vous propose un choix : ajouter, lister, détail, suppression ou quitter. 
        Au moment de quitter, il sauvegarde les contacts dans un fichier dont vous choisissez le nom.
    </p>
    <p>
        <em>PS : vous pouvez vous servir du code que vous avez réalisé pour le chapitre précédent, qui gérait les 
            dictionnaires de contact
        </em>
    </p>
    <p><em>PPS : vous pouvez travaillez dans le navigateur ou utiliser un IDE comme visual studio code si vous préférez.
        Si vous travaillez dans le navigateur, pensez à sauvegarder régulièrement votre travail en téléchargeant le script
    </em></p>
    <div class="essais">
        <button type="button" data-has-blockly="false" data-has-graphics="false"
            data-python-id="addressbook_saved"
            data-python-url="ressources/python-dictionnaires/assets/python/addressbook_saved.py"
            class="btn btn-success btn-python">
            Compléter le code
        </button>
    </div>
    <h3> Et le chargement ? </h3>
    <p>
        Vous avez peut être remarqué : à la fin de notre programme nous sauvegardons la liste de contacts.
        Nous ne perdons plus la mémoire. La liste de contact est sauvegardée dans un fichier que vous pouvez lire 
        (à la fin de l'activité, vous avez pu créer votre fichier et le sauvegarder sur votre ordinateur)
    </p>
    <p>
        Mais nous n'avons pas prévu d'importer notre fichier de contacts dans notre programme. C'est dommage, ce serait
        une fonctionnalité très intéressante. Oui, mais voilà, la façon dont nous avons enregistré les contacts ne s'y prête 
        pas trop. Il faudrait parcourir le fichier ligne par ligne et recréer chaque dictionnaire.
    </p>
    <p>
        C'est possible. Mais ce n'est pas le plus pratique, de très loin.
    </p>
    <p>
        Nous allons voir qu'il existe une autre façon d'enregistrer les fichiers dans le chapitre suivant.
    </p>
</div>
{% endblock %}