{% extends 'cours-python.twig.html' %}

{% block cours %}
<div class="cours">
    <h2> Le pique-nique </h2>
    <img class="img-fluid border rounded"
        src="ressources/python-dictionnaires/assets/img/picnic-large.jpg"
        alt="un pique-nique">
    <p class="text-end fw-lighter fst-italic">
        Photo by <a href="https://unsplash.com/@spencerdavis?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Spencer Davis</a> on <a href="https://unsplash.com/s/photos/picnic?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </p>
    <p>
        Toute notre histoire va commencer par un pique-nique. Imaginez que vous organisez entre élèves 
        de la même classe un repas en fin d'année. Vous faîtes ce repas 
        sous forme d'un pique-nique, en mutualisant les dépenses. Un certain nombre de personnes vont aller faire 
        les courses pour tout le monde. Et ensuite, on fera les comptes, et chacun payera sa part. On remboursera
        ceux qui ont avancé l'argent en faisant les courses.
    </p>
    <p>
        Comme vous êtes passionnés d'informatique, vous vous dites qu'un programme serait parfait pour gérer 
        ces dépenses.
    </p>
    <h3>
        Types de base
    </h3>
    <p>
        Nous avons vu plusieurs types de base en python :
    </p>
    <ul>
        <li> les entiers (int) </li>
        <li> les nombres à virgules flottantes (float) </li>
        <li> les chaînes de caractère (string) </li>
    </ul>
    <p>
        Lorsque des données sont amenées à évoluer au cours d'un programme, nous avons appris à les stocker dans des
        variables.
    </p>
    
    <h3>Type construit</h3>
    <p>
        Lorsque les données ont besoin d'être considérée en grand nombre, nous avons vu un nouveau type de données : les
        tableaux. Un tableau est un ensemble de variables, souvent en quantité importante, et généralement (même si ce
        n'est pas obligatoire) du même type. Les tableaux correspondent à un besoin : celui de manipuler des données en
        grand nombre, ce nombre n'étant de plus pas toujours connu à l'avance. On peut penser par exemple à la liste des
        notes des élèves d'une classe, stockée dans un tableau qui permet de calculer la moyenne et l'écart type de ces
        notes.
    </p>
    <p class="fst-italic">
        Il est important aussi de noter que le langage Python porte à confusion sur le sujet, les tableaux en Python 
        recouvrent à la fois les notions informatiques de tableaux et de listes, qui sont séparées dans un certains 
        nombre de langages informatiques.
    </p>
    <p>
        On dit que les tableaux constituent un type construit par ce qu'ils s'appuyent sur d'autre type pour leur
        fabrication. Un tableau est une collection de variable. C'est une variable qui va contenir d'autres variables.
    </p>
    <p>
        Les dictionnaires que nous allons étudier sont un autre type construit et correspondent à un autre besoin.
        
    </p>
    <h3> Le programme </h3>
    <p>
        Vous souhaitez faire un programme pour la gestion des dépenses. Dans une première version du programme, 
        vous utilisez  une liste que l'on remplit au fur et à mesure. Voilà votre première version du programme.
        On crée une liste avec toutes les dépenses, ensuite, on calcule la moyenne pour savoir 
        ce que chaque participant doit payer en théorie, puis on fait la différence avec ce qu'il a payé réellement,
        pour enfin afficher ce qu'il doit recevoir ou payer.
    </p>
    <pre><code class="python">entree=""
depenses = []
numero = 1
while entree != "F":
    question = f"Entrez F pour arréter ou la somme payée par la personne n°{numero} : "
    entree=input(question)
    if entree != "F":
        depenses.append(float(entree))
        numero += 1

# Fin des entrées 
# On calcule tout l'argent dépensé et on fait la moyenne par personne
total = 0
for somme in depenses:
    total += somme
moyenne = total / len(depenses)

# On va maintenant dire combien doit chacun.
# Si c'est positif, on le rembourse.
# Si c'est négatif, il doit mettre dans le pot commun
for i in range(len(depenses)):
    difference = depenses[i] - moyenne
    if  difference >= 0:
        print(f"La personne n°{i+1}  doit recevoir : {difference:.2f}")
    else:
        print(f"La personne n°{i+1}  doit payer : {-difference:.2f}")</code></pre>
    <div class="essais">
        <button type="button" data-has-blockly="false" data-has-graphics="false"
            data-python-id="depenses1"
            data-python-url="ressources/python-dictionnaires/assets/python/depenses1.py"
            class="btn btn-success btn-python">
            Essayer le programme
        </button>
    </div>
    <p>
        Ce programme a le mérite de fonctionner, mais il présente un inconvénient majeur : les personnes
        sont juste des numéros dans ce programme. Si la liste est rentrée au fur et à mesure de la soirée, 
        il faut que chacun se souvienne de son numéro
    </p>
    <p>
        Bien sur, vous pourriez remédier à ce problème en créant une seconde liste. Cette liste contiendrait 
        les noms des personnes. Il faudrait modifier les entrées en conséquence (on doit donner à la fois 
        le nom de la personne et la somme dépensée) et ensuite modifier les sorties pour avoir l'affichage 
        non pas du numéro de la personne mais le nom de la personne.
    </p>
    <p>
        D'ailleurs, ça ne vous semble pas impossible à faire.
    </p>

</div>
<div class="todo">
    <h6>À faire vous même</h6>
    <p>
        Vous allez reprendre le programme précédent et le modifier de la façon suivante :
    </p>
    <ul>
        <li>Ajouter une liste <code>nom</code></li>
        <li>Demander le nom en plus de la somme dans la partie entrée des dépenses.</li>
        <li>
            Afficher le nom au lieu du numéro dans le résultat final.
        </li>
    </ul>
    <div class="essais">
        <button type="button" data-has-blockly="false" data-has-graphics="false"
            data-python-id="depenses2"
            data-python-url="ressources/python-dictionnaires/assets/python/depenses1.py"
            class="btn btn-success btn-python">
            Modifier le programme
        </button>
    </div>
</div>
<div class="cours">
    <p>
        Ajouter une seconde liste a bien fonctionné, mais nous allons voir que cette stratégie 
        n'est pas nécessairement tenable sur le plus long terme. Les problèmes vont commencer 
        dès la fin de la soirée...
    </p>
    
</div>
{% endblock %}