{% extends 'cours-python.twig.html' %}
{% block cours %}

<div class="cours">
    <h2> Le Module CSV </h2>
    <img class="img-fluid border rounded"
        src="ressources/python-dictionnaires/assets/img/module.jpg"
        alt="un pique-nique">
    <p class="text-end fw-lighter fst-italic">
        Photo by <a href="https://pixabay.com/fr/users/bru-no-1161770">Bruno /Germany</a> 
        de <a href="https://pixabay.com/fr">Pixabay</a>
    </p>
    <p>
        Nous avons vu dans les chapitres précédents que l'on pouvait utiliser le
        format CSV, qui est à la fois répandu et standard, pour enregistrer des 
        données sur un disque et pour les récupérer aussi. 
    </p>
    <p>
        Ces lectures et écritures font appel massivement aux méthodes <code>split</code>
        et <code>join</code> et sont assez délicates à écrire. En informatique, le nombre
        d'instructions élémentaires du langage pour programmer est en réalité assez faible.
        Au niveau des instructions, quand on sait instancier des variables, faire des boucles,
        des tests, des fonctions et accéder aux fichiers, on peut quasiment tout faire.
    </p>
    <p>
        Cependant, certaines opérations sont courantes et peuvent être un peu délicates à réaliser
        correctement. Pourquoi réinventer la roue à chaque programme ? Lorsqu'une opération est très
        courante, il existe souvent un module qui permet de faire ces opérations de manière standard 
        et optimisée. Construire un programme se fait souvent en  utilisant plusieurs 
        modules un peu comme on utilise les briques de lego.
    </p>
    <p>
       Il y a un module pour l'accès aux fichiers CSV.
    </p>
    <p> 
        Dès janvier 2003, la <a href="https://www.python.org/dev/peps/pep-0305/">PEP 305</a>
        propose d'intégrer au langage Python un module pour parcourir les fichiers CSV en lecture 
        et en écriture.
    </p>
    <h3> Base du module CSV</h3>
    <h4> Lecture du fichier </h4>
    <p>
        La lecture d'un fichier CSV va être très simple. 
    </p>
    <p>
        Tout d'abord, il faut importer le module csv
    </p>
    <pre><code class="python">import csv</code></pre>
    <p>
        Ensuite, nous allons ouvrir le fichier CSV. Notons qu'il faut 
        obligatoirement rajouter une options à l'ouverture du fichier :
        l'option <code>newline=''</code> qui à la lecture supprime le 
        caractère de fin de ligne. Le mieux est aussi de faire 
        l'ouverture avec <code>with</code>
    </p>
    <p>
        On va ensuite créer un <code>reader</code>. Cet objet reader 
        va pouvoir être parcouru par une boucle for et à chaque passage
        il va transmettre le contenu de la ligne comme une simple liste.
        Pour la création, il y a plusieurs paramètres nommés qui sont importants :
    </p>
    <ul>
        <li><code>delimiter</code> qui indique le délimiteur du fichier CSV. Dans nos fichiers, c'est le 
            point-virgule par exemple. C'est la virgule par défaut si non  spécifié
        </li>
        <li>
            <code>quotechar</code> caractère qui délimite les chaines de caractère. C'est le guillemet 
            double par défaut. 
        </li>
    </ul>
    <p>
        Voici un exemple d'ouverture d'un fichier et de parcours des lignes pour un simple affichage.
    </p>
    <pre><code class="python">with open('contacts.csv', newline='') as csvfile:
    lecteur = csv.reader(csvfile, delimiter=';', quotechar='"')
    for ligne in lecteur:
        print(ligne)</code></pre>
    <h4>
        Écriture du fichier
    </h4>
    <p>
        Pour l'écriture, le principe est le même. Il faut ouvrir le fichier, 
        et créer un objet <code>writer</code> qui sera chargé d'écrire dans le fichier.
        Chaque appel à la fonction writerow écrira une ligne.
    </p>
    <pre><code class="python">import csv
with open('contacts.csv','w',newline='') as csvfile:
    ecrivain = csv.writer(csvfile, delimiter=';',quotechar='"')
    ecrivain.writerow(['ALbert','Enstein','USA'])
</code></pre>

    <p>
        Vous pouvez essayer ci dessous un exemple complet qui va créer le fichier csv, écrire, le lire, le rouvrir
        en ajout, écrire un autre contact puis le relire. Vous pouvez essayer le code et charger le fichier CSV pour
        vérifier son contenu.
    </p>
    <h5>Exemple complet</h5>
    <pre><code class="py">import csv

with open('contacts.csv','w',newline='') as csvfile:
    ecrivain = csv.writer(csvfile, delimiter=';',quotechar='"')
    ecrivain.writerow(['Albert','Enstein','USA'])
print("fichier enregistré")

print("Lecture du fichier\n--")
with open('contacts.csv', newline='') as csvfile:
    lecteur = csv.reader(csvfile, delimiter=';', quotechar='"')
    for ligne in lecteur:
        print(ligne)
print("--")

print("Modification du fichier")
with open('contacts.csv','a',newline='') as csvfile:
    ecrivain = csv.writer(csvfile, delimiter=';',quotechar='"')
    ecrivain.writerow(['Marie','Curie','France'])

print("Fichier modifié")

print("Lecture du fichier\n--")
with open('contacts.csv', newline='') as csvfile:
    lecteur = csv.reader(csvfile, delimiter=';', quotechar='"')
    for ligne in lecteur:
        print(ligne)
print("--")</code></pre>

    <div class="essais">
        <button type="button" data-has-blockly="false" data-has-graphics="false"
            data-python-id="module_csv"
            data-python-url="ressources/python-dictionnaires/assets/python/module_csv.py"
            class="btn btn-success btn-python">
            Essayer le code
        </button>
    </div>

    <h3> Les dictionnaires ? </h3>

    <p>
        Si vous ouvrez le fichier CSV que nous avons généré, vous noterez qu'il ne contient pas 
        la première ligne qui inque que l'on a le prénom, le nom et le pays de résidence. On pourrait
        la rajouter en la traitant comme les autres données.
    </p>
    <p>
        Par ailleurs, nous avons perdu le bénéfice des dictionnaires pour nos contacts, qui permettait 
        d'avoir des données facilement accessible. Là, les éléments que nous renvoie les objets
        <code>reader</code> sont des tableaux, avec des indices donc.
    </p>
    <p>
        Bien entendu, c'est prévu dans le module csv ! Il peut parfaitement gérer les
        données stockées sous forme de dictionnaire, pour les enregistrer comme pour les lire
        dans les fichiers CSV, en se basant sur la première ligne du CSV
    </p>
    
    <h4> Écrire à partir de dictionnaires</h4>

    <p>
        Au lieu de l'objet <code>writer</code> nous allons utiliser un obkjet <code>DictWriter</code>.
        Celui ci nous permettra d'enregistrer des données qui sont fournies sous forme
        de dictionnaire. Il faut juste fournir l'information du format
        à l'objet DictWriter, à partir d'une liste des champs qui est l'équivalent de la première
        ligne de CSV et qui est passé au paramètre fieldnames.
    </p>
    <p>
        Si on ouvre le fichier en mode écrasement (w), il faut penser par commencer à écrire 
        l'entête. Cela se fait grâce à la méthode <code>writeheader</code> de l'objet DictWriter.
        Bien entendu, si vous ouvrez en mode ajout ('a'), il ne faut pas écrire la ligne d'entête.
    </p>
    <pre><code class="Python">import csv
    with open('contacts.csv','w',newline='') as csvfile:
        champs = ['Prénom','Nom','Résidence']
        ecrivain = csv.DictWriter(csvfile, fieldnames='champs',delimiter=';',quotechar='"')
        ecrivain.writeheader()
        ecrivain.writerow({'Prénom':'ALbert','Nom':'Enstein','Résidence':'USA'})</code></pre>
    <p>
        Au lieu de l'objet <code>reader</code> on utilise un objet <code>DictReader</code> 
        qui va :
    </p>
    <ul>
        <li>lire la première ligne pour trouver les noms des colonnes</li>
        <li>renvoyer chaque ligne qui suivra comme un dictionnaire et non comme un tableau</li>
    </ul>
    <p>
        Pour la lecture, le paramétre <code>fieldnames</code> est optionnel. S'il n'est pas donné,
        le module csv utilisera la première ligne pour trouver les champs.
    </p>
    <pre><code class="Python">import csv
    with open('contacts.csv','r',newline='') as csvfile:
        lecteur = csv.DictReader(csvfile,delimiter=';',quotechar='"')
        for ligne in lecteur:
            print(ligne)</code></pre>
    <h5>Exemple complet</h5>
    <pre><code class="python">import csv

champs=['Prénom','Nom','Résidence']

Scientifiques = []

albert = {'Nom':'Einstein',
    'Prénom':'Albert',
    'Résidence':'USA'
}

marie = {'Prénom':'Marie',
    'Nom':'Curie',
    'Résidence':'France'
}


with open('contacts.csv','w',newline='') as csvfile:
    ecrivain = csv.DictWriter(csvfile,fieldnames=champs, delimiter=';',quotechar='"')
    ecrivain.writeheader()
    ecrivain.writerow(albert)
print("fichier enregistré")

print("Lecture du fichier\n--")
with open('contacts.csv', newline='') as csvfile:
    lecteur = csv.DictReader(csvfile, delimiter=';', quotechar='"')
    for ligne in lecteur:
        print("-")
        for k,v in ligne.items() :
            print(f"{k} : {v}")
print("--")

print("Modification du fichier")
with open('contacts.csv','a',newline='') as csvfile:
    ecrivain = csv.DictWriter(csvfile,fieldnames=champs, delimiter=';',quotechar='"')
    ecrivain.writerow(marie)

print("Fichier modifié")

print("Lecture du fichier\n--")
with open('contacts.csv', newline='') as csvfile:
    lecteur = csv.DictReader(csvfile, delimiter=';', quotechar='"')
    for ligne in lecteur:
        print("-")
        for k,v in ligne.items() :
            print(f"{k} : {v}")
print("--")</code></pre>
    <div class="essais">
        <button type="button" data-has-blockly="false" data-has-graphics="false"
            data-python-id="module_csv_dict"
            data-python-url="ressources/python-dictionnaires/assets/python/module_csv_dict.py"
            class="btn btn-success btn-python">
            Essayer le code
        </button>
    </div>
    <h3> Simplification de l'application d'annuaire de contacts </h3>
    <p>
        Reprenez votre code complet en remplaçant les opérations de lecture et d'écriture dans le fichier CSV
        par celle proposées ici en utilisant la bibliothèque CSV.
    </p>
</div>

{% endblock %}